* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 700px) {
    * {
        background-color: black;
    }
}
.main {
    width: 100vw;
    height: 100vh;
    background-image: url("images/blob-scene-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    padding: 200px 450px;
}

@media (max-width: 700px) {
    .main {
        flex-direction: column;
        padding: 20px;
        background-color: black;
    }
}

.img {
    width: 400px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #FBAE3C;
    margin-right: 40px;
}
@media (max-width: 700px) {
    .img {
        width: 350px;
        height: 500px;
        box-shadow: none;
        margin-left: 40px;
        margin-bottom: 20px;
    }
}
.text {
    display: flex;
    flex-direction: column;
    gap: 75px;
    height: 500px;
}
@media (max-width: 700px) {
    .text {
        height: auto;
    }
}

.header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0 0 10px #FBAE3C,0 0 20px #FBAE3C,0 0 30px #FBAE3C,0 0 40px #FBAE3C;
}

.p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #ffffff;
    text-shadow: 0 0 10px #FBAE3C,0 0 20px #FBAE3C,0 0 30px #FBAE3C,0 0 40px #FBAE3C;
}

@media (max-width: 700px) {
    .p {
        margin-bottom: 20px;
    }
}
